* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
nav {
  position: absolute;
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 0px;

  background: #273c72;
}
a {
  text-decoration: none;
  color: white;
}
.inner {
  background-color: #273c72;
  max-width: 1440px;
  height: 50px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 409px;
  height: 50px;
  margin: 0 auto;
}
.inner .menu a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* 2번째 nav bar */
